/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: white;
    font-family: Poppins;
}
body::-webkit-scrollbar{
  display: none;
}
:root{
    --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translateX(0);
    --item2-filter: blur(0px);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%,10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%,20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;
    
    --item5-transform: translate(120%,30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #222939;
  font-size: 1rem;
  font-weight: 600;
}
a:hover{
  color: orange;
}

/* End Global Rules */

/* Animation */
.hidden{
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media(prefers-reduced-motion){
  .hidden{
    transition: none;
  }
}
/* Animation */


/* Start Header */
header{
  position: relative;
  padding: 0 2rem;
  z-index: 3;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo{
  padding-top: 1px;
}
.navbar .logo img{
  height: 55px;
}
.navbar .links{
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn{
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.act_btn{
  background-color: orange;
  color: #222939;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.act_btn:hover{
  scale: 1.05; 
  color: #222939;
}
.act_btn:active{
  scale: 0.95;
}
/* dropdown */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 330px;

}
.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .act_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* responsive */
@media screen and (max-width: 1015px) {
  .navbar .links,
  .navbar .act_btn{
    display: none;
  }
  
  .navbar .toggle_btn{
    display: block;

  }

  .dropdown_menu{
    display: block;
  }
}
@media screen and (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
  }
/* End header */



/* Start Carousel */
.carousel{
    position: relative;
    height: 900px;
    overflow: hidden;
    margin-top: -50px;
}
.carousel .list{
    position: absolute;
    width: 1140px;
    max-width: 90%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.carousel .list .item{
    position: absolute;
    left: 0%;
    width: 70%;
    height: 100%;
    font-size: 15px;
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}
.carousel .list .item:nth-child(n + 6){
    opacity: 0;
}
.carousel .list .item:nth-child(2){
    z-index: 10;
    transform: translateX(0);
}
.carousel .list .item img{
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: right 1.5s;
}
.carousel .list .item .introduce{
    opacity: 0;
    pointer-events: none;
}
.carousel .list .item:nth-child(2) .introduce{
    opacity: 1;
    pointer-events: auto;
    width: 400px;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    transition: opacity 0.5s;
}
.carousel .list .item .introduce .title{
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    padding-bottom: 0.2em;
}
.carousel .list .item .introduce .topic{
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1em;
    padding-bottom: 0.5em;
}
.carousel .list .item .introduce .des{
    font-size: small;
    color: rgb(51, 51, 51);
}
.carousel .list .item .introduce .seeMore{
    font-family: Poppins;
    margin-top: 1.2em;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #555;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 3px;
    transition: background 0.5s;
}
.carousel .list .item .introduce .seeMore:hover{
    background: #eee;
}
.carousel .list .item:nth-child(1){
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}
.carousel .list .item:nth-child(3){
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
}
.carousel .list .item:nth-child(4){
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
}
.carousel .list .item:nth-child(5){
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    opacity: var(--item5-opacity);
    pointer-events: none;
}
/* animation text in item2 */
.carousel .list .item:nth-child(2) .introduce .title,
.carousel .list .item:nth-child(2) .introduce .topic,
.carousel .list .item:nth-child(2) .introduce .des,
.carousel .list .item:nth-child(2) .introduce .seeMore{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
@keyframes showContent{
    from{
        transform: translateY(-30px);
        filter: blur(10px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}
.carousel .list .item:nth-child(2) .introduce .topic{
    animation-delay: 1.2s;
}
.carousel .list .item:nth-child(2) .introduce .des{
    animation-delay: 1.4s;
}
.carousel .list .item:nth-child(2) .introduce .seeMore{
    animation-delay: 1.6s;
}
/* next click */
.carousel.next .item:nth-child(1){
    animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}
@keyframes transformFromPosition2{
    from{
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        opacity: var(--item2-opacity);
    }
}
.carousel.next .item:nth-child(2){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
@keyframes transformFromPosition3{
    from{
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        opacity: var(--item3-opacity);
    }
}
.carousel.next .item:nth-child(3){
    animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}
@keyframes transformFromPosition4{
    from{
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        opacity: var(--item4-opacity);
    }
}
.carousel.next .item:nth-child(4){
    animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition5{
    from{
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        opacity: var(--item5-opacity);
    }
}
/* previous */
.carousel.prev .list .item:nth-child(5){
    animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(4){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(3){
    animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(2){
    animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition1{
    from{
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        opacity: var(--item1-opacity);        
    }
}
/* detail  */
.carousel .list .item .detail{
    opacity: 0;
    pointer-events: none;
}
/* showDetail */
.carousel.showDetail .list .item:nth-child(3),
.carousel.showDetail .list .item:nth-child(4){
    left: 100%;
    opacity: 0;
    pointer-events: none;
}
.carousel.showDetail .list .item:nth-child(2){
    width: 100%;
}
.carousel.showDetail .list .item:nth-child(2) .introduce{
    opacity: 0;
    pointer-events: none;
}
.carousel.showDetail .list .item:nth-child(2) img{
    right: 50%;
}
.carousel.showDetail .list .item:nth-child(2) .detail{
    opacity: 1;
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    pointer-events: auto;
}
.carousel.showDetail .list .item:nth-child(2) .detail .title{
    font-size: 4em;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications{
    display: flex;
    gap: 10px;
    width: 100%;
    border-top: 1px solid #5553;
    margin-top: 20px;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications div{
    width: 90px;
    text-align: center;
    flex-shrink: 0;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications div p:nth-child(1){
    font-weight: bold;
}
.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button{
    font-family: Poppins;
    background-color: transparent;
    border: 1px solid #5555;
    margin-left: 5px;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: 500;
}
.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button:nth-child(2){
    background-color: #fea913;
    color: #eee;
}
.carousel.showDetail .list .item:nth-child(2) .detail  .title,
.carousel.showDetail .list .item:nth-child(2) .detail  .des,
.carousel.showDetail .list .item:nth-child(2) .detail .specifications,
.carousel.showDetail .list .item:nth-child(2) .detail .checkout{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
.carousel.showDetail .list .item:nth-child(2) .detail  .des{
    font-size: 12px;
    animation-delay: 1.2s;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications{
    animation-delay: 1.4s;
}
.carousel.showDetail .list .item:nth-child(2) .detail .checkout{
    animation-delay: 1.6s;
}
.arrows{
    position: absolute;
    bottom: 10px;
    width: 1140px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.arrows :hover{
  background-color: #333;
  color: #fff;
}
#prev,
#next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: monospace;
    border: 1px solid #5555;
    font-size: large;
    bottom: 20%;
    left: 10%;
}
#next{
    left: unset;
    right: 10%;
}
#back{
    position: absolute;
    z-index: 100;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-bottom: 1px solid #555;
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: transparent;
    padding: 10px;
    /* opacity: 0; */
    transition: opacity 0.5s;
    display: none;
}
.carousel.showDetail #back{
    opacity: 1;
}
.carousel.showDetail #prev,
.carousel.showDetail #next{
    opacity: 0;
    pointer-events: none;
}
.carousel::before{
    width: 500px;
    height: 300px;
    content: '';
    background-image: linear-gradient(70deg, #fea913, #0e4cc9 );
    position: absolute;
    z-index: -1;
    border-radius: 20% 30% 80% 10%;
    filter: blur(150px);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
}
.carousel.showDetail::before{
    transform: translate(-100%, -50%) rotate(90deg);
    filter: blur(130px);
}

@media screen and (max-width: 1250px){

    /* ipad, tablets */
    .carousel .list .item{
        width: 90%;
    }
    .carousel.showDetail .list .item:nth-child(2) .detail .specifications{
        overflow: auto;
    }
    .carousel.showDetail .list .item:nth-child(2) .detail .title{
        font-size: 2em;
    }

}

@media screen and (max-width: 962px){
    /* mobile */
    .carousel{
        height: 600px;
    }
    .carousel .list .item{
        width: 100%;
        font-size: 10px;
    }
    
    .carousel .list{
        height: 100%;
    }
    .carousel .list .item:nth-child(2) .introduce{
        width: 50%;
    }
    
    .carousel .list .item img{
        width: 40%;
    }
    .carousel.showDetail .list .item:nth-child(2) .detail{
        backdrop-filter: blur(10px);
        font-size: small;
    }
    .carousel .list .item:nth-child(2) .introduce .des,
    .carousel.showDetail .list .item:nth-child(2) .detail .des{
        height: 100px;
        overflow: auto;
    }
    .carousel.showDetail .list .item:nth-child(2) .detail .checkout{
        display: flex;
        width: max-content;
        float: right;
    }
}
/* End Carousel */


/* Start Video */
.vid_section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  max-width: 700px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.vid{
  width: auto;
  height: auto;
  min-width: 350px;
  min-height: 200px;
}
.vid_section h1{
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  padding-bottom: 0.2em;
}
.vid_section p{
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
}
.vid_section button{
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 16px;
  background-color: orange;
  color: #222939;
  border-radius: 15px;
  padding: 4px 8px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.vid_section button:hover{
  scale: 1.05; 
  color: #222939;
}
.vid_section button:active{
  scale: 0.95;
}
@media screen and (min-width: 500px) {
  .vid{
    min-width: 550px;
    min-height: 310px;
  }
}
@media screen and (min-width: 750px) {
  .vid{
        width: 700px;
        height: 445px;
  }
}
/* End Video */

/* Start Features */

.hidden-r{
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
  transform: translateY(-100%);
}
.show-r{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
@media(prefers-reduced-motion){
  .hidden-r{
    transition: none;
  }
}

.hidden-l{
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
  transform: translateY(+100%);
}
.show-l{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0%);
}
@media(prefers-reduced-motion){
  .hidden-l{
    transition: none;
  }
}

.Features-item{
display: flex;
justify-content: center;
align-content: center;
width: 1245px;
}

.Features-item .card_img{
  display: block;
  height: 600px;
}
.Features-1{
  height: 600px;
}

.Features-2{
  height: 600px;
}
.Features-3{
  height: 600px;
}
.Features-4{
  height: 600px;
}

#list{
display: flex;
width: max-content;
}
#fcards{
  width: 1240px;
  max-width: 100%;
  overflow: hidden;
  margin: 100px auto;
  scroll-behavior: smooth;
  scroll-snap-type: both;

}
#fcards::-webkit-scrollbar{
  display: none;
}


/*                       */
.farrows{
  text-align: center;
}
.farrows button{
  margin: 0 50px;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: monospace;
  background-color: #eee5;
  border: none;
  color: #222939;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  transition: 0.5s;
}
.farrows button:hover{
  background-color: #333;
  color: #fff;
}

@media (max-width:1275px) {
.Our_Features{
  width: 0;
  display: none;
}
.farrows{
  display: none;
}
}
/*
@media screen and (max-width:1024px) {
  .Features-item{
    width: calc(33.3vw - 17px);
  }
}
@media screen and (max-width:768px) {
  .Features-item{
    width: calc(50vw - 17px);
  }
}
@media screen and (max-width:576px){
  .Features-item{
    width: calc(100vw - 15px);
  } 
  } */
/* End Features */

/* Start Price */
.pricing{
  width: auto;
  max-width: 700px;
  padding-left: 16px;
  padding-right: 16px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}
.pricing h1{
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  padding-bottom: 0.2em;
}
.pricing p{
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
}
/* End Price */


/* Start Logos */
.logos h1{
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  padding-bottom: 0.2em;
}
@keyframes slide {
  from{
    transform: translateX(0);

  }
  to{
    transform: translateX(-100%);
  }
}
.logos:hover .slider{
  animation-play-state: paused;
}
.logos{
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  background: white;
  text-align: center;
}
.logos::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to left,rgba(255, 255, 255, 0), white);
  z-index: 2;
}
.logos::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right,rgba(255, 255, 255, 0), white);
  z-index: 2;
}
.slider{
  display: inline-block;
  animation: 25s slide infinite linear;
}
.slider img{
  margin: 0 40px;
  height: 150px;
}
/* End Logos */

/* Start Communities */
.communities h1{
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  padding-bottom: 0.2em;
}
@keyframes c-slide {
  from{
    transform: translateX(-100%);

  }
  to{
    transform: translateX(0);
  }
}
.communities:hover .c-slider{
  animation-play-state: paused;
}
.communities{
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  background: white;
  text-align: center;
}
.communities::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to left,rgba(255, 255, 255, 0), white);
  z-index: 2;
}
.communities::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right,rgba(255, 255, 255, 0), white);
  z-index: 2;
}
.c-slider{
  display: inline-block;
  animation: 20s c-slide infinite linear;
}
.c-slider img{
  margin: 0 40px;
  height: 150px;
}
/* End Communities */

/* Start Footer */
.footer{
  border-radius: 21px;
  background-color: #222939;
  color: white;
  font-size: 12px;
  padding: 30px 40px 30px 40px;
}

.footer .content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .content h4{
  font-size: 17px;
  font-weight: 500;
}
.footer .content h5{
  font-size: 14px;
}


.f-col1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 260px;
}
.f-col1 .logo{
  width: 180px;
}

.f-col1 .title{
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
}
.f-col1 .icons{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: orange;
  font-size: 50px;
  padding-bottom: 15px;
}
.f-col1 .SCC{
  width: auto;
  height: auto;
  max-width: 255px;
  max-height: 255px;
}


.f-col2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 260px;
  gap: 20px;
}
.f-col3{
  max-width: 260px;
}

.f-col3 p{
  font-size: larger;
}


.f-col4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 260px;
  gap: 15px;
}

.f-col4 .title{
  font-size: 18px;
  padding-left: 3px;
  margin-bottom: -1px;
}

.f-col4 input{
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 4px ;
}
.f-col4 button{
  background-color: orange;
  color: #222939;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  width: auto;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.f-col4 img{
  margin-top: 40px;
  width: 160px;
}


/* End Footer */