/* Start varaibles */

/* End variables */

/*Start Global Rules */
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
}

.tc{
  max-width: 1200px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 365px;
  padding-right: 15px;
}

.title{
  text-align: center;
  font-size: 42px;
}

img{
  width: auto;
  height: auto;
  max-width:500px;
}
@media screen and (max-width: 600px) {
  .head{
  flex-direction: column;
  }
  img{
    max-width:350px;
  }
}
@media screen and (max-width: 400px) {
  .head img{
  width: 300px;
  }
}
/* End Global Rules */
/* Start Header */
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
a:hover{
  color: orange;
}
header{
  position: relative;
  padding: 0 2rem;
  z-index: 3;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo{
  padding-top: 1px;
}
.navbar .logo img{
  height: 55px;
}
.navbar .links{
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn{
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.act_btn{
  background-color: orange;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.act_btn:hover{
  scale: 1.05; 
  color: #000;
}
.act_btn:active{
  scale: 0.95;
}
/* dropdown */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 330px;

}
.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .act_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* responsive */
@media screen and (max-width: 1015px) {
  .navbar .links,
  .navbar .act_btn{
    display: none;
  }
  
  .navbar .toggle_btn{
    display: block;

  }

  .dropdown_menu{
    display: block;
  }
}
@media screen and (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
  }
/* End header */
/*  */
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: grey;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.details .right .top{
font-weight: 600;
}
.details .right {
  font-size: 10px;
}
.details .right .bot{
  font-style: italic;
}
.details .right span{
  font-weight: 600;
}

.content{
  line-height: 17px;
  
}
.content h2{
  font-size: 16px;
}
.content p{
  font-size: 12px;
  }

  /* Start Footer */
.footer{
  border-radius: 21px;
  background-color: #222939;
  color: white;
  font-size: 12px;
  padding: 30px 40px 30px 40px;
}

.footer .content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .content h4{
  font-size: 17px;
  font-weight: 500;
}
.footer .content h5{
  font-size: 14px;
}


.f-col1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 260px;
}
.f-col1 .logo{
  width: 180px;
}

.f-col1 .title{
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
}
.f-col1 .icons{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: orange;
  font-size: 50px;
  padding-bottom: 15px;
}
.f-col1 .SCC{
  width: auto;
  height: auto;
  max-width: 255px;
  max-height: 255px;
}


.f-col2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 260px;
  gap: 20px;
}
.f-col3{
  max-width: 260px;
}

.f-col3 p{
  font-size: larger;
}


.f-col4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 260px;
  gap: 15px;
}

.f-col4 .title{
  font-size: 18px;
  padding-left: 3px;
  margin-bottom: -1px;
}

.f-col4 input{
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 4px ;
}
.f-col4 button{
  background-color: orange;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  width: auto;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.f-col4 img{
  margin-top: 40px;
  width: 160px;
}


/* End Footer */