/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Varela Round", sans-serif; */
body{
  background-color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
body::-webkit-scrollbar{
display: none;
}

li{
list-style: none;
}
a{
text-decoration: none;
color: white;
font-size: 16px;
font-family: "Montserrat", sans-serif;
}


/* Start Header */
header{
  position: relative;
  padding: 0 2rem;
  z-index: 3;
}
header a{
  text-decoration: none;
  color: #222939;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}
header a:hover{
  color:#FeAA14;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo{
  padding-top: 1px;
}
.navbar .logo img{
  height: 55px;
}
.navbar .links{
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn{
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.act_btn{
  background-color: orange;
  color: #222939;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.act_btn:hover{
  scale: 1.05; 
  color: #222939;
}
.act_btn:active{
  scale: 0.95;
}
/* dropdown */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 330px;

}
.dropdown_menu li{
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
}
.dropdown_menu .act_btn{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
}
/* responsive */
@media screen and (max-width: 1015px) {
  .navbar .links,
  .navbar .act_btn{
    display: none;
  }
  
  .navbar .toggle_btn{
    display: block;

  }

  .dropdown_menu{
    display: block;
  }
}
@media screen and (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
  }
/* End header */




/* carousel */
.carousel{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color: #f1683a;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}


/* Start Footer */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Varela Round", sans-serif; */
.footer{
  background-color: #222939;
  font-family: "Montserrat", sans-serif; 
  color: white;
  font-size: 12px;
  overflow: hidden;
  border: 0px;
}
svg{
  width: 200%;
  height: 100px;
  border: 0px;
}
.footer .cont{
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 40px 20px 40px;
  gap: 250px;
}

/* Col 1 */
.f-col1{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 250px;
}
.f-col1 .logo{
  width: 150px;
  margin-left: -5px;
}
.title{
  font-size: 17px;
  font-weight: 600;
}
.f-col1 .icons{
  color: #FeAA14;
  font-size: 50px;
}
.f-col1 .SCC{
  margin-top: 5px;
  width: auto;
  height: auto;
  max-width: 165px;
}

/* Col 2 */
.f-col2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 250px;
  gap: 20px;
}
.f-col2 h4{
  font-size: larger;
}
.f-col2 p{
  font-size: larger;
}

/* Col 3 */
.f-col3{
  max-width: 260px;
}
.f-col3 p{
  font-size: larger;
}
/* .f-col3 a{
  color: white;
  font-size: 16px;
  font-weight: 400;
} */
.f-col3 img{
  width: 150px;
  margin-top: 10px;
}

/* Footer Responsive */
@media screen and (max-width: 1000px){
  .footer .cont{
    gap: 150px;
  }
}
@media screen and (max-width: 800px){
  .footer .cont{
    gap: 50px;
  }
}
@media screen and (max-width: 600px){
  .footer .cont{
    gap: 10px;
  }
}
@media screen and (max-width: 525px){
  .footer .cont{
    flex-direction: column-reverse;
    gap: 10px;
  }
  .footer .f-col3{
    display: flex;
    align-items: flex-end;
  }

  .footer .f-col3 img{
    width: 150px;
    height: 150px;
  }

  }
/* End Footer */