/* Start varaibles */

/* End variables */

/*Start Global Rules */
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Varela Round", sans-serif; */

body{
    background-color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
body::-webkit-scrollbar{
  display: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

h2{
  font-family: "Varela Round", sans-serif;
}
h3{
  font-family: "Varela Round", sans-serif;
}
h4{
  font-family: "Montserrat", sans-serif;
}

/* End Global Rules */
/* Start Header */
header{
  position: relative;
  padding: 0 2rem;
  z-index: 3;
}
header a{
  text-decoration: none;
  color: #222939;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}
header a:hover{
  color:#FeAA14;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo{
  padding-top: 1px;
}
.navbar .logo img{
  height: 55px;
}
.navbar .links{
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn{
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.act_btn{
  background-color: orange;
  color: #222939;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.act_btn:hover{
  scale: 1.05; 
  color: #222939;
}
.act_btn:active{
  scale: 0.95;
}
/* dropdown */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 330px;

}
.dropdown_menu li{
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
}
.dropdown_menu .act_btn{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
}
/* responsive */
@media screen and (max-width: 1015px) {
  .navbar .links,
  .navbar .act_btn{
    display: none;
  }
  
  .navbar .toggle_btn{
    display: block;

  }

  .dropdown_menu{
    display: block;
  }
}
@media screen and (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
  }
/* End header */



.press{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 440px;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.info{
  max-width: 400px;
  align-items: left;
  line-height: 19px;
}
img{
  width: auto;
  height: auto;
  max-width:625px;
}
@media screen and (max-width: 877px) {
  .press{
    margin-top: 70px;
    flex-direction: column;
    align-items: center;  
  }
  .press img{
    width: 500px;
    }
}
@media screen and (max-width: 750px) {
  .press{
  margin-top: 70px;
  flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .press img{
  width: 350px;
  }
}



.container{
  display: flex;
  flex-direction: column;
}
.item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 410px;
  height: 800px;
  background-image: linear-gradient(to top,#AEC0CE, #ECECF2);
  overflow: hidden;
  transition: 0.5s ;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 10px 15px #7e878d;
  scroll-snap-align: start;
  }
  .item:hover{
    scale: 1.05; 
  }
  .contain{
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .card_title{
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
  .card_info{
    padding-bottom: 5px;
    font-size: 15px;
    color: #333;
    font-weight: 500;
  }
  
  .card_btn{
    margin-left: -5px;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    background-color: orange;
    color: #000;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ;
    box-shadow: 0 10px 15px #7e878d;
  }
  .card_btn:hover{
    scale: 1.05; 
    color: #000;
  }
  .card_btn:active{
    scale: 0.95;
    color: #000;
  }
  
  .item .card_img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 410px;
    max-height:410px ;
  }
  .item img{
    display: block;
    width: 300px;
  }
  
  
  #list{
  display: flex;
  width: max-content ;
  }
  #cards{
    width: 1280px;
    max-width: 100%;
    overflow: auto;
    margin: 100px auto;
    scroll-behavior: smooth;
    scroll-snap-type: both;
  
  }
  #cards::-webkit-scrollbar{
    display: none;
  
  }
  
  
  .arrows{
    text-align: center;
  }
  .arrows button{
    margin: 0 50px;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: monospace;
    background-color: #eee5;
    border: none;
    color: #333;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
  }
  .arrows button:hover{
    background-color: #333;
    color: #fff;
  }
  
  @media screen and (max-width:1275px) {
    .item{
      width: calc(33.3vw - 17px);
    }
  }
  @media screen and (max-width:1024px) {
    .item{
      width: calc(33.3vw - 17px);
    }
  }
  @media screen and (max-width:768px) {
    .item{
      width: calc(50vw - 17px);
    }
  }
  @media screen and (max-width:576px){
    .item{
      width: calc(100vw - 15px);
    } 
    }


/* Start Footer */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Varela Round", sans-serif; */
.footer{
  background-color: #222939;
  font-family: "Montserrat", sans-serif; 
  color: white;
  font-size: 12px;
  overflow: hidden;
  border: 0px;
}
svg{
  width: 200%;
  height: 100px;
  border: 0px;
}
.footer .cont{
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 40px 20px 40px;
  gap: 250px;
}

/* Col 1 */
.f-col1{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 250px;
}
.f-col1 .logo{
  width: 150px;
  margin-left: -5px;
}
.title{
  font-size: 17px;
  font-weight: 600;
}
.f-col1 .icons{
  color: #FeAA14;
  font-size: 50px;
}
.f-col1 .SCC{
  margin-top: 5px;
  width: auto;
  height: auto;
  max-width: 165px;
}

/* Col 2 */
.f-col2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 250px;
  gap: 20px;
}
.f-col2 h4{
  font-size: larger;
}
.f-col2 p{
  font-size: larger;
}

/* Col 3 */
.f-col3{
  max-width: 260px;
}
.f-col3 p{
  font-size: larger;
}

.f-col3 img{
  width: 150px;
  margin-top: 10px;
}

/* Footer Responsive */
@media screen and (max-width: 1000px){
  .footer .cont{
    gap: 150px;
  }
}
@media screen and (max-width: 800px){
  .footer .cont{
    gap: 50px;
  }
}
@media screen and (max-width: 600px){
  .footer .cont{
    gap: 10px;
  }
}
@media screen and (max-width: 525px){
  .footer .cont{
    flex-direction: column-reverse;
    gap: 10px;
  }
  .footer .f-col3{
    display: flex;
    align-items: flex-end;
  }

  .footer .f-col3 img{
    width: 150px;
    height: 150px;
  }

  }
/* End Footer */
